@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-body text-base font-normal;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading font-bold;
  }

  .sectionCard {
    @apply bg-background border-y border-secondary text-text px-4 py-20;
  }
}

html {
  scroll-behavior: smooth;
}

@keyframes pulse-ring {
  0%, 100% {
    border-color: #2a6fba; /* Tailwind primary */
    box-shadow: 0 0 20px #2a6fba;
  }
  50% {
    border-color: #3299cd; /* Tailwind accent */
    box-shadow: 0 0 20px #3299cd;
  }
}

.navbar-ring {
  animation: pulse-ring 3s ease-in-out infinite;
}


/* For Hero */
.fixed-background-glow {
  width: 100%;
  height: 100%;
  pointer-events: none;
  background:
    radial-gradient(
      ellipse 980% 70% at 50% 99%,
      rgba(var(--color-primary-rgb), 0.15) 5%,
      rgba(0, 0, 0, 0) 100%
    );
  transition: background 0.5s ease-in-out;
}

/* For about mininavbar cards */
.fade-section {
  transition: opacity 0.3s ease;
}

.fade-in {
  opacity: 1;
  pointer-events: auto;
}

.fade-out {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
